.App {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: lighter;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardBG {
  background-color: #2b3340;
  color: white;
  border-radius: 10px;
}

.statusCard {
  height: 200px;
}
.statusCardItem {
  margin: auto !important;
  align-items: center;
}
.statusCardItem h1 {
  padding-top: 30px;
}
.colorGreen {
  color: green;
}
.colorRed {
  color: red;
}
.subtxt {
  color: rgb(111, 118, 121);
}

.tableHeader {
  border-bottom: 1px solid white !important;
  text-align: left;
}
.padding15 {
  padding: 15px 0 !important;
}
.spaceBTW {
  display: flex;
  justify-content: space-between;
}

.text-white {
  color: white;
}
